/* Userlist Roles */
ul.avatar-list li.admin p.username:before { /* Admin */
  content: url('http://i.imgur.com/040zpkE.png');
  margin-right: 5px;
}

ul.avatar-list li.admin p.username { /* Admin */
  color: #878C8E;
}

ul.avatar-list li.user-the_igorce9 p.username:before { /* Global Moderator Icon */
  content: url('http://www.pokecommunity.com/images/icons/pc1point5/microphone.png');
  margin-right: 5px;
}

ul.avatar-list li.user-the_igorce9 p.username { /* Global Moderator Color */
  color: #32CD32;
}

ul.avatar-list li.manager p.username:before { /* Manager Icon */
  content: url('https://www.ddlgforum.com/staff.png');
  margin-right: 5px;
}

ul.avatar-list li.manager p.username { /* Manager Color */
  color: #4682B4;
}

#main_avatar_room #main-user-list-room #avatar-list li.admin p.username:after, #main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username:after, #main_avatar_room #main-user-list-room #avatar-list li.creator p.username:after, #main_avatar_room #main-user-list-room #avatar-list li.currentDJ p.username:after, #main_avatar_room #main-user-list-room #avatar-list li.manager p.username:after, #main_avatar_room #main-user-list-room #avatar-list li.mod p.username:after, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username:after, #main_avatar_room #main-user-list-room #avatar-list li.vip p.username:after { /* Remove Roles Names */
  content: " ";
}
